<ul class="menu">

<!--          <li><a class="page-link" href="{{ site.baseurl }}/"><i class="fa fa-home fa-lg"></i>Home</a></li> -->
<li><a class="page-link" href="/syllabus/syllabus_330_2023_01_16.html"><i class="fa fa-list-ul fa-lg"></i> Syllabus</a></li>
<li><a class="page-link" href="/course-materials/"><i class="fas fa-book-reader"></i> Course Materials</a></li>
<li><a class="page-link" href="/course-schedule/"><i class="fa-sharp fa-solid fa-calendar-week"></i> Schedule</a></li>
<li><a class="page-link" href="https://colostate.instructure.com/courses/162079"></i> Canvas Webpage</a></li>
    </ul>
