<ul class="menu">

<!--          <li><a class="page-link" href="{{ site.baseurl }}/"><i class="fa fa-home fa-lg"></i>Home</a></li> -->
<li><a class="page-link" href="/materials/syllabus.html"><i class="fa fa-list-ul fa-lg"></i> Syllabus</a></li>
<li><a class="page-link" href="/course-materials/"><i class="fas fa-book-reader"></i> Course Schedule & Materials</a></li>
<!--          <li><a class="page-link" href="/course-schedule/"><i class="fa fa-calendar"></i> Schedule</a></li> -->
<li><a class="page-link" href="https://colostate.instructure.com/courses/198940" target="_blank"></i> Canvas Webpage</a></li>
    </ul>
